* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #dcddde;
}

a:hover {
  color: #dcddde;
  text-decoration: none;
}

body {
  background: #36393f;
  color: #dcddde;
  min-height: 100vh;
}

.container-fluid {
  padding: 0;
}

.logo {
  width: 100px;
}

.container-rooms {
  background: #2f3136;
}

.container-namespaces {
  background: #2f3136;
  border-right: 2px solid #36393f;
}

.container-rooms {
  min-width: 220px;
}

.item-namespace img {
  width: 40px;
  height: 40px;
}

.item-namespace:hover {
  background: #36393f;
  cursor: pointer;
  border-radius: 5px;
}

.item-namespace.active {
  background: #36393f;
  border-radius: 5px;
}

.item-room:hover {
  cursor: pointer;
  background: #36393f;
  border-radius: 5px;
}

.item-room.active {
  background: #36393f;
  border-radius: 5px;
}

.list-messages {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

#logout {
  cursor: pointer;
}

width
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root{
  scrollbar-color: #f1f1f1 #888;
  scrollbar-width: thin;
}